<div class="card">
  <h1>Добавить технику</h1>
    <%= simple_form_for([:admin, @hardware]) do |f| %>
    <%= f.input :category_hard_id, as: :select, collection: CategoryHard.all.map { |c| [c.name, c.id] }, label: "Категория" %>
    <%= f.input :model, label: "Модель" %>
    <%= f.input :series, label: "Серийный номер" %>
    <%= f.button :submit, "Добавить", class: "button" %>
  <% end %>
  <%= link_to 'Назад', :back, class: "button" %>
</div>
