<div class="card">
  <h1><%= @hardware.model %></h1>
  <h2>Информация</h2>
  <p>Категория: <%= @hardware.category_hard.name %></p>
  <p>Серийный номер: <%= @hardware.series %></p>
  <p>Статус: <%= @hardware.status? ? 'Арендован' : "Свободен" %></p>
  <% if @hardware.status? %>
    <p>Сотрудник: <%= link_to @hardware.user.name, admin_user_path(@hardware.user) %></p>
    <p>Дата Выдачи: <%= @hardware.loaned_at.strftime('%d/%m/%Y') %></p>
  <% end %>
  <h2>Действия</h2>
  <div>
    <%= link_to 'Изменить', edit_admin_hardware_path(@hardware), class: "button" %>
    <%= link_to 'Удалить', admin_hardware_path(@hardware), data: { confirm: 'Вы уверены?', turbo_method: :delete }, class: "button-red" %>
  </div>
  <%= link_to 'Назад', :back, class: "button" %>
</div>
