<div class="card">
  <h1>Здраствуйте, <%= @user.name %></h1>
  <h2>Ваша Техника:</h2>
  <% @hardware.each do |hardware| %>
    <ul>
      <li><%= "#{hardware.category_hard.name} - #{hardware.model}" %></li>
    </ul>
  <% end %>
  <% if @questionnaire.present? && @hardware.present? %>
    <% user_responses = @questionnaire.responses.where(user_id: @user.id) %>
    <% if !user_responses.present? || !user_responses[0].end_date %>
      <h2>Ваши опросы:</h2>
      <p class="button"><%= link_to @questionnaire.name, questionnaire_path(@questionnaire) %></p>
    <% else user_responses.present? %>
      <h2>Пройденные опросы:</h2>
      <p>Опрос - <%= @questionnaire.name %> уже был пройден.</p>
    <% end %>
  <% else %>
    <h2>Нет доступного опроса на текущий момент.</h2>
  <% end %>
  <% if @user.admin? %>
    <h2 class="button"><%= link_to "Панель администратора", rails_admin_path %></h2>
  <% end %>
  <h2 class="button-red"><%= link_to "Выйти", logout_path, data: {turbo_method: :delete}  %></h2>
</div>
