<div class="card">
  <h1>Техника</h1>
  <%= link_to 'Добавить технику', new_admin_it_equipment_path, class: "button" %>
  <h2>Арендованная Техника</h2>
  <table>
    <thead>
      <tr>
        <th>Категория</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Описание</th>
        <th>Сотрудник</th>
        <th>Дата Выдачи</th>
        <th>Действия</th>
      </tr>
    </thead>
    <% @equipment.each do |equipment| %>
      <% if equipment.status? %>
        <tbody>
          <tr>
            <td><%= equipment.category.capitalize %></td>
            <td><%= equipment.make %></td>
            <td><%= equipment.model %></td>
            <td><%= equipment.description %></td>
            <td><%= link_to "#{equipment.user.first_name} #{equipment.user.last_name}", admin_user_path(equipment.user) %></td>
            <td><%= equipment.loaned_at.strftime('%d/%m/%Y') %></td>
            <td>
              <%= link_to 'Показать', admin_it_equipment_path(equipment), class: "button" %>
              <%= link_to 'Изменить', edit_admin_it_equipment_path(equipment), class: "button" %>
              <%= link_to 'Удалить', admin_it_equipment_path(equipment), data: { confirm: 'Вы уверены?', turbo_method: :delete }, class: "button-red" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <h2>Свободная Техника</h2>
  <table>
    <thead>
      <tr>
        <th>Категория</th>
        <th>Марка</th>
        <th>Модель</th>
        <th>Описание</th>
      </tr>
    </thead>
    <% @equipment.each do |equipment| %>
      <% if !equipment.status? %>
        <tbody>
          <tr>
            <td><%= equipment.category.capitalize %></td>
            <td><%= equipment.make %></td>
            <td><%= equipment.model %></td>
            <td><%= equipment.description %></td>
            <td>
              <%= link_to 'Показать', admin_it_equipment_path(equipment), class: "button" %>
              <%= link_to 'Изменить', edit_admin_it_equipment_path(equipment), class: "button" %>
              <%= link_to 'Удалить', admin_it_equipment_path(equipment), data: { confirm: 'Вы уверены?', turbo_method: :delete }, class: "button-red" %>
            </td>
          </tr>
        </tbody>
      <% end %>
    <% end %>
  </table>
  <%= link_to 'Назад', admin_dashboard_path, class: "button" %>
</div>
