<div class="card">
  <h1>Добавить технику</h1>
    <%= simple_form_for([:admin, @equipment]) do |f| %>
    <%= f.input :category, as: :select, collection: %w[laptop keyboard monitor mouse], label: "Категория" %>
    <%= f.input :make, label: "Марка" %>
    <%= f.input :model, label: "Модель" %>
    <%= f.input :description, as: :text, label: "Описание" %>
    <%= f.button :submit, "Добавить", class: "button" %>
  <% end %>
  <%= link_to 'Назад', :back, class: "button" %>
</div>
