<%= form_tag rails_admin.url_for(action: :answers_report), class: "card bg-light p-3", method: :get do %>
  <div class="d-flex align-items-center">
    <%= label_tag :questionnaire_id, 'Опрос*', class: "btn btn-info btn-sm" %>
    <%= select_tag :questionnaire_id, options_from_collection_for_select(Questionnaire.all, :id, :name, params[:questionnaire_id]), include_blank: true, required: true, class: "form-control-sm ms-1" %>
  </div>
  <div class="mt-2 d-flex align-items-center">
    <%= label_tag :category_hard_id, 'Тип оборудования', class: "btn btn-info btn-sm" %>
    <%= select_tag :category_hard_id, options_from_collection_for_select(CategoryHard.all, :id, :name, params[:category_hard_id]), include_blank: true, class: "form-control-sm ms-1" %>
  </div>
  <div class="mt-2 d-flex align-items-center">
    <%= label_tag :user_id, 'Сотрудник', class: "btn btn-info btn-sm" %>
    <%= select_tag :user_id, options_from_collection_for_select(User.where(status: true, admin: false), :id, :name, params[:user_id]), include_blank: true, class: "form-control-sm ms-1" %>
  </div>
  <div class="mt-4 d-flex justify-content-between">
    <%= submit_tag 'Создать Отчет', class: "btn btn-primary" %>
    <%= link_to 'Экспорт в Excel', rails_admin.index_path(model_name: 'answers_report', action_name: 'answers_report', questionnaire_id: params[:questionnaire_id], category_hard_id: params[:category_hard_id], user_id: params[:user_id], format: :xlsx), class: "btn btn-info" %>
  </div>
<% end %>



<% if params[:questionnaire_id].present? && @response_details.present? %>
  <table class="table table-condensed table-striped table-hover mt-5">
    <thead>
      <tr>
        <th>Опрос</th>
        <th>Код сотрудника</th>
        <th>Сотрудник</th>
        <th>Оборудование</th>
        <th>Вопрос</th>
        <th>Ответ</th>
        <th>Дата ответа</th>
      </tr>
    </thead>
    <tbody>
      <% @response_details.each do |response_detail| %>
        <tr>
          <td><%= link_to response_detail.response.questionnaire.name, rails_admin.show_path(model_name: 'questionnaire', id: response_detail.response.questionnaire.id) %></td>
          <td><%= response_detail.response.user.code %></td>
          <td><%= link_to response_detail.response.user.name, rails_admin.show_path(model_name: 'user', id: response_detail.response.user.id) %></td>
          <td><%= link_to response_detail.hardware&.model, rails_admin.show_path(model_name: 'hardware', id: response_detail.hardware.id) %></td>
          <td><%= response_detail.question.name %></td>
          <td>
            <% if response_detail.question.question_type.name == "Фото" %>
              <%= link_to image_tag(response_detail.image.url, class:"img-thumbnail", size: "100x100"), response_detail.image.url, target: "_blank"  %>
            <% else %>
              <%= response_detail.answer %>
            <% end %>
          </td>
          <td><%= response_detail.updated_at.strftime(('%d/%m/%y %H:%M')) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Выберите опрос</p>
<% end %>
