<div class="card">
  <h1>Добавить сотрудника</h1>
  <%= simple_form_for([:admin, @user]) do |f| %>
    <%= f.input :name, label: "ФИО" %>
    <%= f.input :email, label: "Email" %>
    <%= f.input :status, as: :boolean, label: "Активный сотрудник?" %>
    <%= f.input :admin, as: :boolean, label: "Администратор?" %>
    <%= f.button :submit, "Добавить", class: "button" %>
  <% end %>
  <%= link_to 'Назад', :back, class: "button" %>
</div>
